header {
  background-color: black;
  padding: 60px;
  margin: 0px;
  border-bottom: 5px yellow solid;
}

nav {
  text-align: right;
}

.becausetwoBrains {
  background-color: #C4C4C4;
  text-align: center;
  padding:25px 0 25px 0;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}

main {
  background-image: url("../images/coworking.jpg");
  background-repeat: no-repeat;
  height: 600px;
  background-position: center;
  background-size: cover;
}

aside {
  float:right;;
  padding: 15px 8px 15px 8px;
  width: 150px;
  border: black solid 1px;
  margin: 20px 20px 20px 0;
  background-color: #ffffff;
  opacity: 0.7;
}

section {
  background-color: white;
  margin: auto;
  padding: 10px 5px;
  height: auto;
}

footer {
  background-color: black;
  padding: 6px 6px 6px 20px;
  margin: 0px;
  color: white;
}
