

/* Box Model Hack */
* {
 box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
 clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}

header {
  background-color: #0A3D70
}

nav {
  font-style: Semibold;
  font-size: 24px;
}



header h2 {
  color: white;
}

header a {
  color: yellow;
  /*how to align the links to left?*/
}

.greyBackground {
  background-color: #f0efef;
  /*the grey area doesn't have 100% width*/
  background-size: : 100%;
}

h1 {
  /*font style doesnt do anything*/
  font-style: Semibold;
  font-size: 40px;
}

section {
  /*font style light doesnt do anything*/
  font-style: light;
  font-size: 24px;
}

.leftPart {
  display: inline-block;
  height: 400px;
  width: 700px;
}


aside {
  display: inline-block;
  height: 400px;
  width: 240px;
}

h3 {
    /*font style extra bold doesnt do anything*/
  font-style: extra bold;
  font-size: 32px;
}
#categoriesList li {
  /*font style light doesnt do anything*/
  font-style: light;
  font-size: 24px;
}

#textAboutRelaxr {
  /*font style light doesnt do anything*/
  font-style: light;
  font-size: 24px;
}

#LearnMore {
  font-size: 24px;
}

#ReadMore {
  font-size: 24px;
  text-align: right;
}
.yellowBackground {
  background-color: yellow;
}

#SignUp {
  font-size: 24px;
  text-align: center;
}

footer {
  text-align: center;
}

h2 {
  color: yellow;
  font-size: 24px;
}

footer {
  background-color: #121212;
}
