body {
  font-family: sans-serif;
  margin: 50px 45px 30px 45px;
}

nav, main, aside, footer {
  background-color: #CCC;
  border: solid black 1px;
}

nav {
  height: 100px;
}

main {
  display: inline-block;
  height: 400px;
  width: 69%;
}

aside {
  display: inline-block;
  height: 400px;
  width: 30%;
}

footer {
  height: 100px;
}
