body {
  font-family: sans-serif;
  margin: 50px 45px 30px 45px;

}

nav {
  border: solid black 1px;
  height: 100px;
  background-color: #CCC;
}

main {
  display: inline-block;
  border: solid black 1px;
  height: 400px;
  width: 69%;
  background-color: #CCC;
}

aside {
  display: inline-block;
  border: solid black 1px;
  height: 400px;
  width: 30%;
  background-color: #CCC;
}

footer {
  border: solid black 1px;
  height: 100px;
  background-color: #CCC;
}
